<% ele = local_assigns[:ele] %>
<% @list_photos = ele.photos %>
<div class=" d-flex flex-row justify-content-center ">
    <div class="img-item p-4">
        <div class="contain-rotate-img">
            <% if @list_photos.empty? %>
                <img src="" alt="">
            <% else %>
                <% @list_photos.each_with_index do |photo,index| %>
                        <% if (%w( http https).include?URI.parse(photo.image.identifier).scheme) %>
                            <img src="<%=photo.image.identifier%>" alt="">
                        <% else %>
                            <img src="<%=photo.image%>" alt="">
                        <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="img-title d-flex justify-content-between">
            <div class="img-title-text" > 
                <p><%=ele.title%> </p>
            </div>
            <%= button_to edit_album_path(ele.id), method: :get, class: "edit-btn" do %>
                <div class="d-inline-block"><i class="fa-solid fa-pen-to-square"></i></div>
            <% end %>
            
        </div>
    </div>
</div>