
<div class="nested-fields upload-photo-box mt-4 ">
    <%= f.file_field :image, class: "form-control photoInput browse-btn" %>
    <span class="preview-text-box"> Click here to choose specific photo</span>
    <div class="previewImageBox" style= "display: none">
        <img  src="#" alt="" />
        <i class="fa-solid fa-xmark close-img-btn"></i>
    </div>
</div>