<% @id = local_assigns[:id] %>


<% if @list_following.include?(@id) %>
    
    <button class= "follow-btn d-flex justify-content-center unfollow-btn" , id= "followButton">
        <span>Following</span>
        <p class="d-none"><%=@id%></p>
    </button>
<% else %>
    <button class= "follow-btn d-flex justify-content-center" , id= "followButton">
        <span>Follow</span>
        <p class="d-none"><%=@id%></p>
    </button>
<% end %>

<script>
    function followAPI (id){
        $.ajax({
            url: "/discover/follow",
            type: "PUT",
            data: 
                {user_id: id}
                ,
            success: function(data) {},
            error: function(data) {}
        })
    }
       
    
    console.log(followAPI)       
</script>
