<% id = local_assigns[:id] %>
<button class= "follow-btn-<%=id%> d-flex justify-content-center follow-btn" , id= "followButton">
    <span>Follow</span>
    <p class="d-none"><%=id%></p>
</button>
<script>  
    document.querySelectorAll('.follow-btn-<%=id.to_s%>').forEach((btn)=>{
        btn.addEventListener('click',function stopPropagation(event){
            event.stopPropagation();
            debounceFollow(followAPI)(btn.querySelector('p').innerHTML)
    })
})
</script>




