<% id = local_assigns[:id] %>
<button class= "follow-btn-<%=id%> d-flex justify-content-center follow-btn" , id= "followButton">
    <span>Follow</span>
    <p class="d-none"><%=id%></p>
</button>
<script>
    let followBtns =  document.querySelectorAll('.follow-btn-<%=id.to_s%>')  
    followBtns.forEach((btn)=>{
        btn.addEventListener('click',function stopPropagation(event){
            debounceFollow(followAPI)(btn.querySelector('p').innerHTML)
    })
})
</script>




