<% ele = local_assigns[:ele] %>
<% list_to_check = local_assigns[:list_to_check] %>
<div class="react-box d-flex flex-row align-items-center gap-2">
    <% if list_to_check.include?(ele.id) %>
        <button class="button-class like-btn" form="form-class" >
            <i class=" fa-solid fa-heart fa-xs heart unheart"></i>
            <p class="d-none"><%=ele.id%></p>
        </button>
    <% else %>
        <button class="button-class like-btn" form="form-class" >
            <i class=" fa-solid fa-heart fa-xs heart"></i>
            <p class="d-none"><%=ele.id%></p>
        </button>
    <% end %>  
    <p class="counting-likes"><%=ele.numOfLikes%></p>
</div>