<% id = local_assigns[:id] %>
<button class= "d-flex justify-content-center unfollow-btn-<%=id.to_s%> unfollow-btn" , id= "followButton">
    <span>Following</span>
    <p class="d-none"><%=id%></p>
</button>
<script>
      
    document.querySelectorAll('.unfollow-btn-<%=id.to_s%>').forEach((btn)=>{
        btn.addEventListener('click',function stopPropagation(event){
            event.stopPropagation();
            debounceFollow(unfollowAPI)(btn.querySelector('p').innerHTML)
    })
})
</script>