<% ele = local_assigns[:ele] %>
<% index = local_assigns[:index] %>
<% if @viewing_current_user %>
    <% @list_photos = ele.photos.limit(3) %>
<% else %>
    <% @list_photos = ele.photos.public_photos.limit(3) %>
<% end %>
<div class="col-2 d-flex flex-column img-box g-1">
    <div class="contain-rotate-img d-flex justify-content-center align-item-center">
        <% @list_photos.each do |photo| %>
            <img src="<%=photo.image%>" alt="">
        <% end %>
        <div class="overlay">
            <div class="overlay-content">
                <span><%=ele.numOfPhotos%></span>
                <p>PHOTOS</p>
            </div>
        </div>
    </div>
    <p class="mt-2">Album title goes here</p>
    <% if ele.isPrivate %>
        <div class="private-box">
            <i class="fa-solid fa-lock"></i>
        </div>
    <% end %>
    <% if @viewing_current_user %>
        <%= button_to edit_album_path(ele), method: :get, class: 'edit-btn' do %>
            EDIT
        <% end %>
    <% end %>
</div>