
<%= stylesheet_link_tag "signup" %>
<div class="container-content">
    <div class="signup-form">
        <h2>Fotobook Signup</h2>
        <div class="signup-box">
            <form id="new_user" action="/users" accept-charset="UTF-8" method="post">
                <label for="user_fisrtname">First name</label>
                <input type="email" class="form-control" id="user_fisrtname" placeholder="First Name">

                <label for="user_lastname">Last name</label>
                <input type="email" class="form-control" id="user_lastname" placeholder="Last Name">

                <label for="user_email">Email</label>
                <input type="email" class="form-control" id="user_email" placeholder="email@gmail.com">

                <label for="user_password">New Password</label>
                <input type="password" class="form-control" id="user_password" placeholder="Password">

                <label for="user_password_confirmation">Password Confirmation</label>
                <input type="password" class="form-control" id="InputPassworkConfirm" placeholder="Password">

                <div class="w-100 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary px-4 py-2 ">Signup</button>
                </div>
                
            </form>
            <a href="#">Forgot password?</a>
        </div>   
    </div>
</div>