<%resources = local_assigns[:resources]%>
<% if resources.empty? %>
    <div class="col-12 d-flex justify-content-center align-items-center mb-4 mt-4">
        <p>There is no photo</p>
    </div>
<% else %>
    <div id="albums" class="w-100 row">
        <%= turbo_frame_tag "albums", src: feed_album_path(format: :turbo_stream), loading: :lazy %>
    </div>
    <% if user_signed_in? %>
        <% if @resources.next_page %>
            <%= turbo_frame_tag "load_more", src: feed_album_path(page:  @resources.next_page, format: :turbo_stream), loading: :lazy %>
        <% end %>
    <% end %>
    
<% end %>