<%list_users = local_assigns[:resources]%>
<% if list_users.empty? %>
                <div class="col-12 d-flex justify-content-center align-items-center mb-4 mt-4">
                    <p>Follow some one to make your feed colorful with photos and albums</p>
                </div>
<%else%>
    <% list_users.find_each do |ele|%>
        <%= render 'follows/other_user_card', ele: ele %>
    <% end %>
<%end%>