<%resources = local_assigns[:resources]%>
<% if !user_signed_in? %>
    <div class="col-12 d-flex justify-content-center align-items-center ">
        <p> Please sign in to view this content</p>
    </div>
<% elsif @list_followings.empty? %>
    <div class="col-12 d-flex justify-content-center align-items-center">
        <p>Please follow some friends to have content in this page</p>
    </div>
<% else %> 
    
    <div id="photos" class="w-100 row">
        <%= turbo_frame_tag "photos", src: feed_photo_path(format: :turbo_stream), loading: :lazy %>
    </div>
    <% if user_signed_in? %>
        <% if @resources.next_page %>
            <%= turbo_frame_tag "load_more", src: feed_photo_path(page:  @resources.next_page, format: :turbo_stream), loading: :lazy %>
        <% end %>
    <% end %>
<% end %>