<% ele = local_assigns[:ele] %>
<div class="col-2 d-flex flex-column img-box g-1">
    <%= render '/shared/display_image', ele: ele.image%>
    
    
    <% if ele.title %>
        <p class="mt-2"><%=ele.title%></p>
    <% else %>
        <p class="mt-2">no title</p>
    <% end %>
    <% if ele.isPrivate %>
        <div class="private-box">
            <i class="fa-solid fa-lock"></i>
        </div>
    <% end %>
    <% if @viewing_current_user %>
        <%= button_to edit_photo_path(ele), method: :get, class: 'edit-btn' do %>
            EDIT
        <% end %>
    <% end %>
</div>  