.center-container .img-item{
    position:relative;
    min-width: 225px;
    min-height: 225px;
    max-width: 225px;
    max-height: 225px;
    background-color: var(--addPhoto-bgc);
    
    
}
.admin-photo-list .img-item{
    box-shadow: 0 0 4px #000;
}
.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-item .img-title p{
    margin: 0;
    width:165px;
    overflow: hidden;
    text-overflow: ellipsis;

    
    
}
.gap-20{
    gap:20px;
}
.img-item .img-title {
    position: absolute;
    color: #fff;
    top:0;
    left:0;
    right:0;
    padding: 8px 9px;
    background-color: rgba(0,0,0,0.4);
    z-index: 3
    
    
}
.lock-icon{
    
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;;
}
.img-item img{
    object-fit: cover;
}

.admin-photo-list .nav-list a:nth-child(1) li{
    color: var(--main-color);
}
.admin-album-list .nav-list a:nth-child(2) li{
    color: var(--main-color);
}
.admin-user-list .nav-list a:nth-child(3) li{
    color: var(--main-color);
}

.center-container .img-container{
    overflow: auto;
    
}
.header-user-table{
    font-weight: var(--bold-text);
    border-bottom: 2px solid var(--border-color);
}
.back-btn{
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    
}
.back-btn p{
    font-weight: var(--light-text);
    font-size: var(--medium-text);
}
.back-btn:hover{
    color: #fff;
    text-decoration: none;
}