.center-container .img-item{
    position:relative;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    background-color: var(--addPhoto-bgc);
    
    
}
.admin-photo-list .img-item{
    box-shadow: 0 0 4px #000;
}
.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-item .img-title p{
    margin: 0;
    width:165px;
    overflow: hidden;
    text-overflow: ellipsis;

    
    
}
.gap-20{
    gap:20px;
}
.img-item .img-title {
    position: absolute;
    color: #fff;
    top:0;
    left:0;
    right:0;
    padding: 8px 9px;
    background-color: rgba(0,0,0,0.4);
    z-index: 3
    
    
}
.lock-icon{
    
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;;
}
.img-item img{
    object-fit: cover;
}

#nav-list a:nth-child(1) li{
    color: var(--main-color);
}

.center-container .img-container{
    overflow: auto;
    
}