:root{
    --personal-info-header-height: 200px;
}
.personal_nav a{
    display: inline-block;
    color: black;
}
.personal_nav a:nth-child(1) li{
    padding-left: 0;
    
    
}
.personal_nav a:last-child li{
    border-right: none;
}
.personal_nav li{
    font-size: var(--medium-text);
    font-weight: var(--bold-text);
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #ccc
}
.personal_nav li span{
    font-size: var(--large-text);
}

.personal-info .center-container{
    padding: 30px 60px;
}
.personal-info .user-avt-box{
    height: var(--personal-info-header-height);
    width: var(--personal-info-header-height);
    border-radius: 50%;
    overflow: hidden;
}
.personal-info .user-avt-box img, .personal-info .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* .personal-info .img-box{
    border-radius: 3px;
    overflow: hidden;
} */
.personal-info.photo .img-box img{
    border-radius: 10px;
}
.personal-info .img-box > p{

    text-align: center;
    padding-top: 5px;
    font-size: var(--small-text);
}
.personal-info .img-box{
    position: relative;
    height: 250px;
    width: 215px
} 
.personal-info .private-box{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    z-index:3;
}
.personal-info .add-btn{
    background-color: var(--btn-color);
    color: white;
    font-size: var(--medium-text);
    font-weight: var(--bold-text);
}
.personal-info .edit-btn{
    z-index: 4
}
.personal-info .edit-btn{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 6px;
    color: white;
    padding: 5px 10px;
    font-size: var(--small-text)

}
.personal-info .contain-rotate-img .overlay{
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-rotate-img .overlay .overlay-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    
}
.overlay .overlay-content span{
    font-size: var(--big-text);
    font-weight: var(--bold-text)
}
.overlay .overlay-content p{
    font-size: var(--medium-text);
    font-weight: var(--bold-text);
}
.personal-info .user-box{
    background-color: #ccc;
    border-radius: 10px;

}
.user-box{
    padding: 15px 20px;
    width: 90%;
}
.user-box .avt-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.user-box .avt-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-box p{
    font-size: var(--medium-text);
    font-weight: var(--bold-text);
}
.user-box p:hover{
    color: var(--main-color);
}
.user-box .user-info .cate{
    font-size: var(--xtiny-text);
    color: var(--main-color);
    
}
.user-box .user-info .number{
    font-size: var(--big-text);
    font-weight: var(--bold-text);
    color: var(--main-color);
}
.edit-profile-btn{
    padding: 2px;
    border-radius: 20px;
    border: 3px solid var(--main-color);
    color: var(--main-color);
    font-weight: var(--bold-text)
}

    

