<%session[:failure_redirect]= discover_album_path%>
<div class="row discover album">
    <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
        <ul class="d-inline-block nav-list" >
            <a href="/">
                <li class="d-block mb-2">Feeds</li>
            </a>
            <a href="#">
                <li class="d-block mb-2">Discover</li>
            </a>
        </ul>
    </div>
    <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
        
        <div class="switch-mode d-flex mt-4">
            <a href="/discover/photo">
                <div class="photo-btn p-2">PHOTO</div>
            </a>
            <a href="#">
                <div class="album-btn p-2">ALBUM</div>
            </a>
        </div>
        <div class="w-100 feed_album row mt-4 h-100 mb-4 ">
            <% if @list_albums.empty? %>
                <div class="col-12 d-flex justify-content-center align-items-center mb-4 mt-4">
                    <p>There is no album</p>
                </div>
            <% else %>
                <% @list_albums.each_with_index do |ele,index|%>
                    <%= render 'shared/album_card', ele: ele, index: index, have_follow: true %>
                <%end%>
            <% end %>
            <%if @pagy%>
                <div class=" w-100 d-flex justify-content-center mt-4">
                        <%== pagy_bootstrap_nav(@pagy)%>
                         
                    </div>
                </div>
            <% end %>
                
        </div>
    </div>
    <div class="col-0 col-lg-2"></div>
</div> 
<script>   
function followAPI(id){
        $.ajax({
        url: "/discover/follow",
        type: "PUT",
        data: {user_id: id},
        success: function(data) {},
        error: function(data) {}
    })
}
function likeAlbumAPI(id){
    $.ajax({
        url: "/react_albums",
        type: "PUT",
        data: {album_id: id},
        success: function(data) {},
        error: function(data) {}
    })
}
const debounceReact = function (func, timeout = 3000){
    return (...args) => {
        console.log(this.timer)
        clearTimeout(this.timer);
        this.timer = setTimeout(() => { func.apply(this, args); }, timeout);
    };
}
const debounceFollow= function (func, timeout = 3000){
    return (...args) => {
        console.log(this.timer)
        clearTimeout(this.timer);
        this.timer = setTimeout(() => { func.apply(this, args); }, timeout);
    };
}                                                        
let likeBtns = document.querySelectorAll('.like-btn')
likeBtns.forEach((btn)=>{
    btn.addEventListener('click',function stopPropagation(event){
        console.log("onclick like")
        event.stopPropagation();
        if (btn.querySelector('i').classList.contains("unheart")){
                
            btn.querySelector('i').classList.remove("unheart")
        }else{
            
            btn.querySelector('i').classList.add("unheart")
        }
        debounceReact(likeAlbumAPI)(btn.querySelector('p').innerHTML)
    })
})                                                 
let followBtns =   document.querySelectorAll('.follow-btn')  
followBtns.forEach((btn)=>{
    btn.addEventListener('click',function stopPropagation(event){
        event.stopPropagation();
        if (btn.querySelector('span').innerHTML == "Follow"){
            btn.querySelector('span').innerHTML = "Following"
            btn.classList.add("unfollow-btn")
        }else{
            btn.querySelector('span').innerHTML = "Follow"
            btn.classList.remove("unfollow-btn")
        }
        
        debounceFollow(followAPI)(btn.querySelector('p').innerHTML)
    })
})                                               
let userInfoBtn = document.querySelectorAll('.specific-user-btn')
userInfoBtn.forEach((btn)=>{ console.log(btn);
btn.addEventListener('click', function (event){
  event.stopPropagation();
})})
function showModal(modalId){
    var myModal = new bootstrap.Modal(document.getElementById(modalId), {
        keyboard: false
    })
    myModal.show()
}
</script>