<div class="row h-100 discover photo">
                    <div class="col-0 col-lg-2 d-flex flex-row justify-content-center mt-4">
                        <ul class="d-none d-lg-inline-block nav-list" >
                            <a href="/">
                                <li class="d-block mb-2">Feeds</li>
                            </a>
                            <a href="#">
                                <li class="d-block mb-2">Discover</li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
                        
                        <div class="switch-mode d-flex mt-4">
                            <a href="#">
                                <div class="photo-btn p-2">PHOTO</div>
                            </a>
                            <a href="/discover/album">
                                <div class="album-btn p-2">ALBUM</div>
                            </a>
                        </div>
                        <div class="row w-100 h-90 " >
                            <% @list_photos.each_with_index do |ele,index|%>
                                <%=render 'shared/photo_card', ele: ele, index: index , have_follow: true, from_page: "discover"%>
                            <% end %>
                        </div>
                    </div>
            </div>
<script>

    let likeBtns = document.querySelectorAll('.like-btn')
    likeBtns.forEach((btn)=>{
        btn.addEventListener('click',function stopPropagation(event){
            console.log("onclick like")
            event.stopPropagation();
            if (btn.classList.contains("unheart")){
                console.log("Hello")
                btn.classList.remove("unheart")
            }else{
                console.log("hehe")
                btn.classList.add("unheart")
            }
        })
    })                                                 
    let followBtns =   document.querySelectorAll('.follow-btn')  
    followBtns.forEach((btn)=>{
        btn.addEventListener('click',function stopPropagation(event){
            event.stopPropagation();
            if (btn.innerHTML == "Follow"){
                btn.innerHTML = "Following"
                btn.classList.add("unfollow-btn")
            }else{
                btn.innerHTML = "Follow"
                btn.classList.remove("unfollow-btn")
            }
        })
    })                                               
    
    function showModal(modalId){
        var myModal = new bootstrap.Modal(document.getElementById(modalId), {
            keyboard: false
        })
        myModal.show()
    }
</script>